/*/////////////////////////////////grijs #899CA0 en donkergroen #1C2B32///////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


/*////////////////////////
    1. Global Styles
////////////////////////*/


h2 {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

a {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}

p {
    font-weight: lighter;
    font-size: 15px;
}
/*////////////////////////
    2. Typography
////////////////////////*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #1e1f45;
}

input,
button {
    font-family: inherit
}


/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
h1 {
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

.header-section {
    padding: 10px 100px;
    background-image: url("/assets/images/mountains.jpg");
    background-size: auto;
    background-position: center;
    background-color: white;
    position: relative;
    height: 500px;
    width: auto;
}

.header-text {
    text-align: center;
}

input {
    border-style: solid;
    border-color: #1e1f45;
    border-radius: 25px 0 0 25px;
    padding: 10px 20px;
    margin: -5px;
    color: #1e1f45;
    background-color: transparent;
    width: calc(100% - 100px);
    max-width: 200px;
}

form button {
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 10px 20px;
    background-color: #1e1f45;
    color: white;
    cursor: pointer;
}



/*///////////// 3.2 Testimonial /////////////*/
.main-section {
    max-width: 1000px;
    margin: 10px 100px;
    padding: 10px 100px;
}

.section-1 article {
    height: 150px;
    width: 850px;
    padding: 40px;
    margin: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.quote {
    position: absolute;
    left: 40px;
}

.main-section p {
    padding: 10px;
    margin: 10px;
}

.inline-block-p {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
}

.inline-block-p img {
    vertical-align: middle;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

/*///////////// 3.3 Support /////////////*/
.section-2 article {
    padding: 10px;
    margin: 10px;
}

.callcenter {
    position: relative;
    border-radius: 10px;
    max-width: 100%;
}

.section-2 button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #1e1f45;
    color: white;
    cursor: pointer;
}

/*///////////// 3.4 Faq /////////////*/

details {
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

details > summary {
    padding: 2px 6px;
    color: #1e1f45;
    cursor: pointer;
}

details > p {
    padding: 20px 25px;
    margin: 10px;
    background-color: gray;
}

details[open] > p {
    border-radius: 10px;
    color: white;
}



/*///////////// 3.5 Footer /////////////*/

.footer_content {
    color: white;
    background: #1e1f45;
    position: relative;
    text-align: center;
    padding: 10px;
}